<mat-toolbar color="primary" id="menu">
  <span>My App</span>
  <span>
    <img src="../assets/avatar.png" alt="Avatar">
  </span>
</mat-toolbar>
<mat-toolbar id="subMenu">
  <div class="col-md-4">
    <div class="row pt-1">
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-select [(ngModel)]="selectedAgent" (ngModelChange)="getAgentCalls()">
            <mat-option disabled value="">Agent</mat-option>
            <mat-option *ngFor="let agent of agents" [value]="agent.agent_id">
              {{agent.full_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-select [(ngModel)]="selectedCall" (ngModelChange)="getScripts()">
            <mat-option disabled value="">Call</mat-option>
            <mat-option *ngFor="let call of calls" [value]="call.call_id">
              {{call.call_date}} - {{call.customer[0].full_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div>
    <span>Matching Sensitivity</span>
    <mat-slider min="1" max="100" value="30" color="primary"></mat-slider>
  </div>
</mat-toolbar>

<!--<div class="bodyContent">
  <div>
    <img src="../assets/image.svg" alt="Background Image"/>
  </div>
  <div>
    <h1>Selection Pending</h1>
    <div>Select a call from the top conner and a transcript analysis will be shown here</div>
  </div>
</div>-->
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header tableCardHeader">
          <div>
            <h2>Real</h2>
          </div>
          <div class="d-flex align-items-center">
            <span class="font-weight-bold">40%</span>
            <div class="headerChart">
              <canvas baseChart class="chart" *ngIf="pieChartReady"
                      [data]="pieChartData"
                      [labels]="pieChartLabels"
                      [chartType]="'pie'"
                      [legend]="pieChartLegend"
                      [options]="pieChartOptions"
                      [plugins]="pieChartPlugins"></canvas>
            </div>
          </div>
        </div>
        <div class="card-body py-0">
          <table class="table">
            <thead>
              <tr>
                <th>Time</th>
                <th>Speaker</th>
                <th>Sentence</th>
              </tr>
            </thead>
            <tbody>
              <tr [class.agentText]="word.channel === 1" *ngFor="let word of transcript">
                <td>{{word.formattedTime}}</td>
                <td *ngIf="word.channel === 0">Unknown</td>
                <td *ngIf="word.channel === 1">{{agentName}}</td>
                <td *ngIf="word.channel === 2">{{guestName}}</td>
                <td>
                  {{word.sentence}}
                </td>
              </tr>
              <!--<tr>
                <td>01:00</td>
                <td>Harvey</td>
                <td>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolorum eos, ex exercitationem
                  facere in laboriosam laudantium libero nobis odit quibusdam rem, reprehenderit sint velit,
                  voluptas voluptatibus voluptatum. Molestias, velit.
                </td>
              </tr>-->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header tableCardHeader">
          <div>
            <h2>Expected</h2>
          </div>
          <div class="d-flex align-items-center">
            <span class="font-weight-bold">40%</span>
            <div class="headerChart">
              <canvas baseChart class="chart" *ngIf="pieChartReady"
                      [data]="pieChartData"
                      [labels]="pieChartLabels"
                      [chartType]="'pie'"
                      [legend]="pieChartLegend"
                      [options]="pieChartOptions"
                      [plugins]="pieChartPlugins"></canvas>
            </div>
          </div>
        </div>
        <div class="card-body py-0">
          <table class="table">
            <thead>
            <tr>
              <th>Order</th>
              <th>Speaker</th>
              <th>Sentence</th>
            </tr>
            </thead>
            <tbody>
            <tr class="highlightedText" *ngFor="let word of script">
              <td>{{word.order}}</td>
              <td>Rep</td>
              <td>
                {{word.matching_sentence}}
              </td>
            </tr>
            <!--<tr>
              <td>01:00</td>
              <td>Harvey</td>
              <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolorum eos, ex exercitationem
                facere in laboriosam laudantium libero nobis odit quibusdam rem, reprehenderit sint velit,
                voluptas voluptatibus voluptatum. Molestias, velit.
              </td>
            </tr>-->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
