mat-toolbar#menu {
  margin: -8px -8px 0 -8px;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: -10px;
  }
}

.bodyContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;

  div:nth-child(1) {
    margin-top: 200px;
  }
}

#subMenu {
  display: flex;
  justify-content: space-between;
  padding-right: 400px;
}

mat-slider {
  width: 150px;
}

.tableCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;

  .chart {
    height: 70px;
    width: 70px;
  }
}

.agentText {
  background: #DEDEE3;
}

.highlightedText {
  background: #BDBDC6;
}

.scroll {
  max-height: 600px;
  overflow-y: auto;
}
